@import 'tailwindcss';

@layer base {
  :root {
    ---font-dosis: 'Dosis', sans-serif;
    ---font-qs: 'Quicksand', sans-serif;
  }

  @theme inline {
    --color-plum-50: #fdf4fd;
    --color-plum-100: #f8e9fb;
    --color-plum-200: #f1d1f6;
    --color-plum-300: #e7aeee;
    --color-plum-400: #cd75dd;
    --color-plum-500: #b653c7;
    --color-plum-600: #973bab;
    --color-plum-700: #7a2f8a;
    --color-plum-800: #64266f;
    --color-plum-900: #4e1e56;
    --color-plum-950: #35133b;

    --font-sans: var(--font-dosis);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    font-family: var(--font-qs);
  }
  body {
    @apply font-semibold tracking-tight;
  }
  button {
    font-family: var(--font-qs);
  }
  h2 {
    @apply text-3xl md:text-4xl font-black;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-black;
  }
  h5 {
    @apply text-lg font-black;
  }
  p {
    @apply text-base md:text-lg/relaxed;
  }

  ::selection {
    @apply text-violet-50 bg-indigo-500;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-center-col {
    @apply flex flex-col items-center justify-center;
  }
  .flex-col-gap {
    @apply flex flex-col gap-3;
  }

  .max-w-section {
    @apply max-w-[1000px];
  }

  .p-section {
    @apply px-7 sm:px-12 py-7;
  }
  .p-div {
    @apply px-5 py-4;
  }
  .p-div-sm {
    @apply px-3 py-2;
  }
  .p-div-lg {
    @apply px-7 py-6;
  }
  .p-par {
    @apply pl-2 pr-3;
  }
  .p-heading {
    @apply pl-1;
  }
  .p-heading-rev {
    @apply pr-1;
  }
  .p-button {
    @apply px-6 py-[0.2em];
  }

  .text-button {
    @apply font-bold text-[1.1rem] text-indigo-950;
  }

  .shadow-ind {
    @apply shadow-lg shadow-indigo-600;
  }
  .shadow-fusch {
    @apply shadow-lg shadow-fuchsia-400/50;
  }
  .shadow-subtle {
    @apply shadow-md shadow-indigo-700/30;
  }
  .shadow-subtle-dark {
    @apply shadow-md shadow-indigo-950/80;
  }
  .shadow-glow-ind {
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.4);
  }

  .border-full {
    @apply border-2 border-white rounded-full;
  }
  .border-pri {
    @apply border-2 border-white;
  }
}
